html {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/SuperScaryImage.png) center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.container-fluid.top {
    display: flex;
    justify-content: center;

    h1 {
        display: inline-block;
        background: linear-gradient(to right, orange, yellow);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-weight: bold;
    }
}

div.container.text {

    p {
        color: #fff;
        text-align: center;
    }
}

span {
    color: orange;
}